<div class="container-fluid text-center">
<div class="row">
    {{>user_profile}}
    <div class="col" style="background-color:lightblue;">
            {{#each card}}
                <table>
                    <tr style="background-color:red;">
                        <td style="width: inherit;">
                            <img src={{image_url}} height=350 width=250>
                        </td>
                        <td style="background-color: aquamarine;">
                            <table>
                                <tr>
                                    <td>
                                        <h3>{{card_name}} — {{mana_cost}}</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Quantity: {{owned_count}}</h4>
                                    </td>
                                    <td>
                                        <h4>Cost: ${{price}}</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>{{description}}</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </div>
                </table>
            {{/each}}
    </div>
</div>